{% extends "base.html" %}
{% block content %}

<h1>Käyttäjän {{user_logged_in.kayttajatunnus}} muistiinpanoluokat</h1>

<p>
    <a href="{{base_path}}/note/new" class="btn btn-success">Luo uusi muistiinpano</a>
    <a href="{{base_path}}/luokka/new" class="btn btn-default">Luo uusi luokka</a>
</p>

<p>Klikkaamalla luokkaa pääset katsomaan luokan muistiinpanot. Jos luokkia ei vielä ole, <a href="{{base_path}}/luokka/new" >aloita luomalla sellainen</a>.</p>
<p>Jos et muista, mihin luokkaan etsimäsi muistiinpano kuuluu, voit myös <a href="{{base_path}}/note">katsella kaikkia muistiinpanoja</a>.</p>

{% for luokka in luokat %}
<h3>
    <a href="{{base_path}}/luokka/{{luokka.id}}/show">{{luokka.nimi}}</a>
</h3>

{% endfor %}

{% endblock %}