{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}

<h1>Muokkaa muistiinpanoa</h1>

{{forms.display_errors()}}

<!--{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}-->

<form method="post" action="{{base_path}}/note/{{attributes.id}}/edit">
    <div class="form-group">
        <label>Otsikko</label>
        <input type="text" name="otsikko" class="form-control" value="{{attributes.otsikko}}">
    </div>

    <div class="form-group">
        <label>Sisältö</label>
        <input type="text" name="sisalto" class="form-control" value="{{attributes.sisalto}}">
    </div>

    <div class="form-group">
        <label>Prioriteetti</label>
        <input type="radio" name="prioriteetti" value="!!!">!!!<br>
        <input type="radio" name="prioriteetti" value="!!">!!<br>
        <input type="radio" name="prioriteetti" value="!">!<br>
        <input type="radio" name="prioriteetti" value="?" checked="checked">?<br>
    </div>
    
    <div class="form-group">
        <label>Valitse luokat</label>
        <p>Valitse luokat, joihin muistiinpano kuuluu. Valitaksesi useita pidä ctrl-näppäin pohjassa.</p>
        <select class="form-control" name="luokat[]" multiple="">
            {% for luokka in luokat %}
            <option value="{{luokka.id}}">{{luokka.nimi}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Valmis</button>
    </div>
</form>

{% endblock %}