{% extends "base.html" %}
{% block content %}

{% if user_logged_in %}
<h1>Käyttäjän {{user_logged_in.kayttajatunnus}} kaikki muistiinpanot</h1>
{% endif %}

<p>
    <a href="{{base_path}}/note/new" class="btn btn-success">Luo uusi muistiinpano</a>
    <a href="{{base_path}}/luokka/new" class="btn btn-default">Luo uusi luokka</a>
</p>

<table style="width:100%" class="table-striped table-bordered">
    <thead>
        <tr>
            <th>Otsikko</th>
            <th>Prioriteetti</th>
        </tr>
    </thead>
    <tbody>
        {% for note in notes %}
        <tr>
            <td><a href="{{base_path}}/note/{{note.id}}">{{note.otsikko}}</a></td>
            <td>{{note.prioriteetti}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}