{% extends "base.html" %}
{% block content %}

<h1>{{note.otsikko}}</h1>
<p>
    <a href="{{base_path}}/note/{{note.id}}/destroy" class="btn btn-danger">Poista</a> 
    <a href="{{base_path}}/note/{{note.id}}/edit" class="btn btn-default">Muokkaa</a>
    <a href="{{base_path}}/note/{{note.id}}/edit_classes" class="btn btn-success">Muokkaa luokkia</a>
</p>
<label>Prioriteetti</label>
<p>{{note.prioriteetti}}</p>

<label>Sisältö</label>
<p>{{note.sisalto}}</p>

<label>Luokat</label>

<table style="width:100%" class="table-striped table-bordered">
    <tbody>
        {% for luokka in luokat %}
    <tr>
        <td>{{luokka.nimi}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>


{% endblock %}