{% extends "base.html" %}
{% block content %}
<h1>Muistiinpanot</h1>

<p>
    <a href="#" class="btn btn-success">luo uusi muistiinpano</a>
</p>

<h2>Koulujutut</h2>
<table style="width:100%" class="table-striped table-bordered">
    <thead>
        <tr>
            <th>Otsikko</th>
            <th>Prioriteetti</th>
        </tr>
    </thead>
    <tbody>
        {% for note in notes %}
        <tr>
            <td><a href="{{base_path}}/note/{{note.id}}">{{note.otsikko}}</a></td>
            <td>{{note.prioriteetti}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Random</h2>
<table style="width:100%" class="table-striped table-bordered">
    <thead>
        <tr>
            <th>Otsikko</th>
            <th>Prioriteetti</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="#">Olipa outo uni</a></td>
            <td>?</td>
        </tr>
    </tbody>
</table>

{% endblock %}